@import url('reset.css');

.main {
    padding-top: 40px;
    font-family: sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.films__item {
    margin-bottom: 10px;
    background: #424242;
    color: #fff;
    padding: 15px;
    line-height: 1.4;
    box-shadow: 6px 6px 4px rgb(80, 80, 80);
}

.films__name {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.films__characters {
    margin-top: 10px;
}

.films__characters>li {
    font-size: 9px;
}

.films__descr {
    margin-top: 10px;
    font-size: 14px;
}

.loader {
    border: 4px solid rgba(13, 0, 255, 0.8);
    border-top: 4px solid #ddff00;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }